#canvas1 {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    /* background: #59A869; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#maintitle{
    margin-top: 20px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #27B5BF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke:black;
    display: flex;
    justify-content: center;
}



body {
	background: linear-gradient(-45deg, #27B5BF, #5762B5, #B5A168, #AEBF57);
	background-size: 400% 400%;
	/* animation: gradient 30s ease infinite; */
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#start, #endLost, #endWon {
    font-family:Arial, Helvetica, sans-serif;
    color: #27B5BF;
    padding: 20px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left: -100px;
    height:200px;
    width:250px;
    text-align: center;
}

#start a, #endLost a, #endWon a {
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#endLost h1 {
    font-size: 50px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke:black;
}

#endWon h1 {
    font-size: 50px;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke:black;
}

#start a:hover, #end a:hover { background-color: #ffffff; color: #1bafdb; }