#canvas1 {
    width: 800px;
    height: 500px;
    border: 5px solid #27B5BF;
    /* background: #59A869; */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#ModalAndLinks {
    display: flex;
    justify-content: space-around;
}

#maintitle{
    margin-top: 20px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #27B5BF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke:black;
    display: flex;
    justify-content: center;
}



body {
	background: linear-gradient(-45deg, #27B5BF, #5762B5, #B5A168, #AEBF57);
	background-size: 400% 400%;
	/* animation: gradient 30s ease infinite; */
	height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.modal-header{
    font-size: 25px;
}

.modal-footer{
    font-size: 25px;
    font-family: Snell Roundhand, cursive;

}
.Button{
    
    background-color: #27B5BF;
    padding: 1em 2em;
    color: white;
    border: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke:black;
    font-size: 17px;
    border: 1px solid black;
}

.Button:hover{
    background: #5762B5;
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/

}

.modal-content{
    background-color: #f4f4f4;
    margin: 30%;
    padding: 20px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
   
    animation-duration: 1s;

}

@keyframes modalopen {
    from{opacity: 0}
    to {opacity: 1}
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 25px;
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#start, #endLost, #endWon {
    font-family:Arial, Helvetica, sans-serif;
    color: #27B5BF;
    padding: 20px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left: -100px;
    height:200px;
    width:250px;
    text-align: center;
    
}

#start a, #endLost a, #endWon a {
    border: 3px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#endLost h1 {
    font-size: 50px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke:black;
}

#endWon h1 {
    font-size: 50px;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke:black;
}

#start a:hover, #end a:hover { background-color: #ffffff; color: #1bafdb; }

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0rem; 
 
}

#footerh4{
    display: flex;
    justify-content: center;
}

#p{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    font-size: 70px;
    font-family: Snell Roundhand, cursive;
    height: 4rem; 
}

#imginput {
    width: 50px;
    border: 2px solid black;
}



/* #footer, h4{ */
    /* display: flex; */
    /* justify-content: center; */
/* } */

/* #footer, h1{ */
    /* display: flex; */
    /* justify-content: center; */
/* } */